BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 12000
PointerAlignment: Right
DerivePointerAlignment: false
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakAfterReturnType: None
BinPackParameters: true
BinPackArguments: true
BreakBeforeBraces: Allman
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: false
  AlignFunctionPointers: true
  PadOperators: true
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: false
  AlignFunctionPointers: false
  PadOperators: false
SortIncludes: false
AttributeMacros: ['__attribute__']
StatementMacros: ['CLI', 'HLT']
